<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<!--  HEAD  -->

<!--  PASTE THE BELOW CODE BETWEEN <head>HERE</head> TAGS TO USE: -->
<!--  <th:block th:insert="fragments/invisibleElements :: head"></th:block>  -->
<div th:fragment="head">
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/general.css}">
	<link rel="stylesheet" th:href="@{/css/hover-min.css}">
</div>


<!--  TOP OF PAGE ANCHOR  -->

<!--  PASTE THE BELOW CODE BETWEEN AT VERY TOP OF BODY TO USE: -->
<!--  <th:block th:insert="fragments/invisibleElements :: topOfPage"></th:block>  -->
<a th:fragment="topOfPage" id="topOfPage"></a>


<!--  JAVASCRIPT TAGS  -->

<!--  PASTE THE BELOW CODE BETWEEN INTO THE <body>HERE</body> TO USE: -->
<!--  <th:block th:insert="fragments/invisibleElements :: JavaScript"></th:block>  -->
<div th:fragment="JavaScript" th:remove="tag">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
	        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
	        crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	        crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	        crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/b3eab56ba0.js" crossorigin="anonymous"></script>
</div>


</html>