<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--  DYNAMIC NAV  -->

<!--  PASTE THE BELOW CODE INSIDE THE BODY TO USE: -->
<!--  <nav th:replace="fragments/visibleElements :: Nav"></nav>  -->
<nav th:fragment="Nav" class="navbar navbar-expand-lg navbar-light"> <!-- took off bg-light -->
	<!--  Linked Logo  -->
	<a href="/">A&L Moving</a>

	<!--  Hamburger Button when small  -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!--  Stuff that would be inside hamburger  -->
	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<ul class="navbar-nav align-items-center">
			<!--  Everyone can see  -->
			<li class="nav-item active">
				<a class="nav-item nav-link text-dark btn-outline-light" href="/catalog">Catalog</a>
			</li>
			<!--  Users can see  -->
			<li class="nav-item">
				<a class="nav-item nav-link text-dark btn-outline-light" th:href="@{'/'}">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-item nav-link text-dark btn-outline-light" th:href="@{'/'}">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-item nav-link text-dark btn-outline-light" th:href="@{'/'}">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-item nav-link text-dark btn-outline-light" th:href="@{'/'}">Link</a>
			</li>
			<!--  Visitors can see  -->
<!--			<li class="nav-item">-->
<!--				<a sec:authorize="isAnonymous()" class="nav-item nav-link text-dark btn-outline-light" href="/login">Login</a>-->
<!--			</li>-->
<!--			<li class="nav-item">-->
<!--				<a sec:authorize="isAnonymous()" class="nav-item nav-link text-dark btn-outline-light" href="/register">Register</a>-->
<!--			</li>-->
		</ul>
	</div>
</nav>







<!--  FOOTER  -->

<!--  PASTE THE BELOW CODE INSIDE THE BODY BUT ABOVE THE JAVASCRIPT FRAGMENT TO USE: -->
<!--  <footer th:replace="fragments/visibleElements :: footer"></footer>  -->
<footer th:fragment="footer">
	<!-- collapsing navbar elements -->
	<div class="navbar navbar-expand-lg navbar-light footer">
		<!-- left side content -->
		<ul class="navbar-nav mr-auto" id="footer-nav">
			<!--  Everyone can see  -->
			<li class="nav-item"><a class="nav-link text-light" href="/aboutus">About Us</a></li>
			<li class="nav-item"><a class="nav-link text-light" href="#topOfPage">Back to Top</a></li>
		</ul>
	</div>
</footer>



</html>